#file_box{
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    position: absolute;
    box-shadow: 0 0 0.5rem #CCCCCC;
    border-radius: 2rem;
    overflow: hidden;
}
#switch{
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    transition: 0.2s ease-in-out;
}
#image, #file{
    width: 100%;
    height: 100%;
    position: absolute;
}
#image{
    left: 0;
}
#file{
    left: 100%;
}
#image_tool, #file_tool{
    width: 92%;
    height: 3rem;
    left: 4%;
    top: 7%;
    position: relative;
    border-bottom: solid 0.2rem #808080;
}

#image_tool button, #file_tool button{
    height: 100%;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    bottom: 0;
    transition: 0.2s ease-in-out;
}
#image_tool button:hover, #file_tool button:hover{
    bottom: 0.3rem;
}
#image_tool button b, #file_tool button b{
    margin-left: 1rem;
    margin-right: 1rem;
}
#image_tool span, #file_tool span{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

#image_table, #file_table {
    width: 90%;
    height: 80%;
    left: 5%;
    top: 7%;
    position: relative;
    overflow-y: scroll;
}
#image_table table, #file_table table{
    width: 100%;
    position: absolute;
    text-align: left;
    font-size: 1rem;
    border-collapse: collapse;
}
#image_table table th, #file_table table th{
    padding: 1rem;
    background-color: #F0F0F0;
}
#image_table table td, #file_table table td{
    padding: 1rem;
}
#image_table table td label, #file_table table td label{
    display: none;
}
#image_table table td input, #file_table table td input{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid #303030;
    top: 0.2rem;
    position: relative;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
#image_table table td input:checked, #file_table table td input:checked{
    background-color: #303030;
    border: 0.2rem solid #FFFFFF;
}
#image_table table td a, #file_table table td a{
    text-decoration: none;
    color: #303030;
    transition: 0.2s ease-in-out;
}
#image_table table td a:hover, #file_table table td a:hover{
    color: violet;
}
/**/
#file_choose{
    height: 100%;
    bottom: 0;
    display: inline-block;
    transition: 0.2s ease-in-out;
    position: relative;
}
#file_choose:hover{
    bottom: 0.3rem;
}
#upload_input{
    display: none;
}
#upload_input_warp b{
    cursor: pointer;
}
#upload_input_warp #upload_span{
    right: 0;
    top: 0;
    transform: translateY(0);
    position: relative;
}
/**/
#page_title{
    border-radius: 1rem;
    left: 3%;
    top: 5%;
    position: absolute;
    box-shadow: 0 0 0.5rem #CCCCCC;
    text-align: center;
    background-color: white;
}
#page_title h2{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
/*滚动条*/
#image_table::-webkit-scrollbar, #file_table::-webkit-scrollbar{
    width: 0.5rem;
    background-color: white;
}
#image_table::-webkit-scrollbar-thumb, #file_table::-webkit-scrollbar-thumb{
    background-color: #F0F0F0;
}
