#links{
    width: 80%;
    top: 6rem;
    left: 10%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    border-top: 0.2rem solid #303030;
}
.link{
    height: 10rem;
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem #CCCCCC;
    top: 2rem;
    position: relative;
    overflow: hidden;
}
.link img{
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border-radius: 1rem;
}
.link div{
    margin-left: 1rem;
}
.link h2{
    width: 25rem;
    height: 2.5rem;
    border-bottom: 0.2rem solid #DDDDDD;
}
.link a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #303030;
    transition: 0.2s ease-in-out;
}
.link a:hover{
    color: violet;
}
.link p{
    max-width: 25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}